[Unit]
DefaultDependencies=no
Before=
After=test-loop-f.service
Requires=test-loop-c.service
[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/bin/echo g
[Install]
WantedBy=test-loop.target

